:root {
    --primarty-color: #6b37c1;
    --secondary-color: #bae1ff;
}

body{
    background-color: #f3f3f3;
}
/* Create and style grid container for the banner */

.center {
    margin-left: auto;
    margin-right: auto;
}

.width-lg {
    max-width: 40rem;
}
.width-xl {
    max-width: 60rem;
}
.grid-container {
    border: solid black 2px;
    display: grid;
    grid-template-columns: repeat(3, 13rem);
    grid-template-rows: repeat(7, 5rem);
    grid-template-areas: 
        "about about ."
        "about about casestudies"
        "services ved casestudies"
        "services ved casestudies"
        "services ved . "
        "services contact contact"
        ;
    column-gap: 2rem;
    row-gap: 2rem;
}

#about-grid {
    grid-area: about;
}

#case-studies-grid {
    grid-area: casestudies;
}

#ved-grid {
    grid-area: ved;
}

#services-grid {
    grid-area: services;
}

#contact-grid {
    grid-area: contact;
}

.grid-item {
    border: solid black 1px;
}

@media (max-width: 880px) {
    .grid-container {
        display: flex;
        flex-flow: column wrap;
        max-width: 15rem;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
    }

    .grid-item {
        max-height: 50rem;
    }
}