:root {
    --primary-color: #370140;
    --secondary-color: #bae1ff;
    font-family: 'Quattrocento Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

:focus {
    outline: 3px dotted black;   
}

.hide {
    display: none;
}
a {
    text-decoration: none;
}

body {
    margin: 0;
}

h2 {
    font-size: 3rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.width-sm {
    max-width: 20rem;
} 

.width-lg {
    max-width: 40rem;
}
.width-xl {
    max-width: 60rem;
}

.img-bg {
    left: 0;
    top: 0;
    background-size: auto;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

/* -------------------------------------- Navigation menu ---------------------------------------- */

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    cursor: pointer;
}  

.closeIcon {
    display: none;
}  

.menu {
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.4s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: var(--primary-color);
    list-style: none;
    padding-top: 4rem;
}  

.showMenu {
    transform: translateY(0);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-template-rows: repeat(7, 5rem);
    grid-template-areas: 
        "about about ."
        "about about casestudies"
        "services ved casestudies"
        "services ved casestudies"
        "services ved . "
        "services contact contact"
        ;
    column-gap: 2rem;
    row-gap: 2rem;
}

#about-grid {
    grid-area: about;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

#case-studies-grid {
    grid-area: casestudies;
    display: flex;
    align-items: flex-end;
    color: var(--secondary-color);
    border: var(--secondary-color) 20px solid;
    text-orientation: mixed;
    writing-mode: sideways-lr;
}

#ved-grid {
    grid-area: ved;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#services-grid {
    grid-area: services;
    color: var(--secondary-color);
    border: var(--secondary-color) solid 20px;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-grid {
    grid-area: contact;
    display: flex;
    justify-content: right;
    padding-right: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.grid-item {
    text-align: center;
    font-size: 3.5rem;
}
.grid-item:hover {
    transition: transform 100ms ease-in-out;
    transform: translate(8px, 8px);
    box-shadow: 7px 7px 6px 2px #640e64;
}

/* ------------------------------------ hero section -------------------------------------- */

.hero-section {
    background: url('img/background-img.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: end;
    color: var(--primary-color);
    font-weight: 900;
}

.position-text {
    background-color: var(--primary-color);
    padding:  1rem 2.5rem;
    color: var(--secondary-color);
    border: 25px var(--primary-color) solid;
    font-size: 3rem;
}

/* ------------------------------------ About Page --------------------------------------------- */

.about-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.about-container > div {
    max-width: 25rem;
}

/* #about{
    background-color: var(--secondary-color);
    padding: 1rem;
 } */

 /* .about-container{
    margin-left: auto;
    display: grid;
    justify-content: center;
}

 .about-title{
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
 }

 .about-text-styling{
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
    color: var(--primary-color);
 }

 */
 .style-image{
    width: 100%;
    height: auto;
    /* padding: 1.5rem; */
 }


/* .image-description{
    text-align:center;
    color: var(--primary-color);
}  */

/* --------------------------------- Services Section --------------------------------------- */

#services{
    box-sizing: border-box; 
    padding: 1.25rem;
    /* background-color: var(--secondary-color); */
}

.services-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 100px;
    --flip-card-width: 15rem;
    --flip-card-height: 23rem;
}

.flip-container{
    perspective: 1000px;
    perspective: 62.5rem;
}
.front-card-creativity h2 info-title{
    margin: 0%;
    padding: 1.25rem;
    background-color: var(--secondary-color);
}

.front-card-creativity h2 info-title{
    margin: 0rem;
    text-align: center;
}

.front-card-creativity{
   font-size: 2em;
   padding: 0.8rem 0.5rem;
   text-align: center;
}
.flip-container:hover .flip-motion{
    transform: rotateY(180deg);
}
.flip-container, .font-card, .back-card-creativity{
    height: var(--flip-card-height);
    width: var(--flip-card-width);
}
.flip-motion{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front-card, .back-card-creativity{
    background-color: var(--primary-color);
      color: var(--secondary-color);
      backface-visibility:hidden;
      position:absolute;
      top: 0; 
      left: 0;
      height: var(--flip-card-height);
      width: var(--flip-card-width);
      border-radius: 5%;
      border: var(--secondary-color) solid 16px;
}

.front-card{
    z-index: -2;
    display: flex;
    align-items: center;
}
.back-card-creativity{
    transform:rotateY(180deg);
}

.style-cards {
    font-size: 1.2rem;
    vertical-align: middle;
}

.detailed-info{
    vertical-align: middle;
    padding: 1rem;
}

/* ------------------------------------------ Contact Form --------------------------------------------- */

.form-control {
    display: flex;
    flex-flow: column wrap;
    padding-left: 2rem;
}

.form-control input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: inherit;
  }

  textarea {
    resize: none;
  }

  .contact-h2 {
      padding-left: 2rem;
  }

  .submit-btn {
        font-family: inherit;
        font-size: 1rem;
        padding: 1rem 2rem;
        border-radius: 0.12em;
        color: var(--primary-color);
        text-align: center;
        border: 10px solid var(--secondary-color);
        background-color: inherit;
        margin-top: 1rem;
  }
    .submit-btn:hover {
        border: 10px solid var(--primary-color);
 }


/* Team Section */

.flex-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    align-items: center;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 190px;
}

.team-photo {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.center-child {
    align-self: center;
    border: solid 10px var(--secondary-color);
    padding: 1rem 2rem;
    color: var(--primary-color);
    font-size: 1.2rem;
}

.team-name {
    border: inherit;
    font-size: 1.6rem;
}


/* ------------------------------------------ Media Queries --------------------------------------------- */

/* @media only screen and (max-width: 1440px) {
    .about-container{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    }
    .about-text-styling{
    text-align: right;
    font-size: 1.4rem;
    } 
    .image-description{
    font-size: 1.6rem;
    } 
    #services{
    display: grid;
    grid-template-columns: 60ch 60ch 50ch;
    padding: 8rem;
    height: 40.5rem;
    }
    .front-card, .back-card-creativity{
    width: 15.625rem;
    height: 21.875rem;
    text-align: center;
    } 
} */

/* @media only screen and (max-width: 1290px) {
    #services{
        grid-template-columns: 43ch 40ch 10ch;
    }
} */

/* @media only screen and (max-width: 1080px) {
    .about-title{
    font-size: 6rem;
    } 
     .about-container{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    }
    .about-text-styling{
    text-align: right;
    font-size: 1.1rem;
    } 
    .front-card, .back-card-creativity{
    width: 15.625rem;
    height: 21.875rem;
    }
    #services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 2fr));
    padding: 3rem;
    height: 30.9rem;
    } 
 } */

 @media (max-width: 880px) {
    .grid-container {
        display: flex;
        flex-flow: column wrap;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        row-gap: 0.3rem;
    }

    .grid-item {
        font-size: 3rem;
    }

    .hero-section {
        background-position: -100px center;
        align-items: flex-end;
    }

    .position-text {
        font-size: 2rem;
    }

    .team-members {
        gap: 0px;
    }

    .back-card-creativity {
        transform: unset;
        font-size: 0.6rem;
    }

    .hide {
        display: inherit;
        padding: unset;
    }
}

/* @media only screen and (max-width: 851px) {
    #services{
    padding: 0.7rem;
    }
    .front-card, .back-card-creativity{
    width: 13.625rem
    }
} */

/* @media only screen and (max-width: 768px) {
    .about-title{
    font-size: 4rem;
    }
    .about-container{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
   }
   .about-text-styling{
    text-align: right;
    font-size: 1rem;
    margin-right: 3rem;
   } 
   #services{
    padding: 0.625rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 2fr));
    }
    .front-card, .back-card-creativity{
    margin: 1.25rem;
    width: 12.438rem;
    height: 21.875rem;
    }
    .detailed-info{
        font-size: 0.7rem;
    }
} */

/* @media only screen and (max-width: 425px) {
    .about-container{
    margin-left: auto;
    display: grid;
    justify-content: center;
    }
    .about-title{
    font-size: 3rem;
    } 
    .about-text-styling{
    font-size: 1.2rem;
    text-align: center;
    margin-right: auto;
    } 
   .image-description{
    font-size: 2rem;
    padding: 1rem;
    } 
    #services{
    padding: 6rem;
    height: 60rem;
    }
    .front-card, .back-card-creativity{
    margin: 0.938rem;
    width: 12.5rem;
    height: 12.5rem;
    }
    .detailed-info{
    font-size: 0.4rem;
    }
} */
/* @media only screen and (max-width: 320px) {
    .about-container{
    margin-left: auto;
    display: grid;
    justify-content: center;
    }
    .about-text-styling{
    font-size: 1rem;
    text-align: center;
    padding: 3rem;
    margin-right: 0;
    }
    .image-description{
    font-size: 1rem;
    padding: 0.2rem;
    } 
    #services{
    padding: 2.8rem;
    }
    .front-card, .back-card-creativity{
    margin: 0.938rem;
    width: 12.5rem;
    height: 12.5rem;
    }
    .detailed-info{
    font-size: 0.4rem;
    }
} */


